* {
    font-family: 'Courier New', Courier, monospace;
    background-color: #2A363B;
    color: #99B898;
    line-height: 1.5em;
}

legend {
    padding: 5px;
    background-color: #99B898;
    border-radius: 5px;
    color: #2A363B;
}

fieldset {
    border-color: #99B898;
    border-radius: 5px;
    color: #99B898;
    max-width: fit-content;
}

ul {
    padding-left: 1em;
    list-style-type: "$ ";
}